altgraph==0.17
calc==1.0
click==7.1.2
colorama==0.4.4
Flask==1.1.2
future==0.18.2
itsdangerous==2.0.1
Jinja2==2.11.2
MarkupSafe==2.0.1
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pywin32-ctypes==0.2.0
Werkzeug==2.0.1
